body{
font-family:Arial;
background:#f4f6f9;
margin:0;
}

.header{
background:#2c3e50;
color:white;
padding:20px;
text-align:center;
}

.logout{
float:right;
background:red;
color:white;
border:none;
padding:8px 15px;
}

.container{
width:80%;
margin:auto;
margin-top:20px;
}

input{
padding:10px;
margin:5px;
}

button{
padding:10px;
background:#27ae60;
color:white;
border:none;
cursor:pointer;
}

.bookCard{
background:white;
padding:20px;
margin:10px;
border-radius:8px;
box-shadow:0 0 5px rgba(0,0,0,0.2);
}